<!-- BEGIN:main -->
<div class="divver">
    <div align="justify"><p class="titulo">{title}</p></div>
    <table class="tablaVer">
        
        <tr>
            <td style="width:85px;"><p><strong>{cd_newsletter_label} :</strong></p></td>
            <td><p>{cd_newsletter}</p></td>
        </tr>
        
        <tr>
            <td style="width:85px;"><p><strong>{cd_user_label} :</strong></p></td>
            <td><p>{cd_user}</p></td>
        </tr>
        
        <tr>
            <td style="width:85px;"><p><strong>{cd_template_label} :</strong></p></td>
            <td><p>{cd_template}</p></td>
        </tr>
        
        <tr>
            <td style="width:85px;"><p><strong>{dt_date_label} :</strong></p></td>
            <td><p>{dt_date}</p></td>
        </tr>
        
        <tr>
            <td style="width:85px;"><p><strong>{ds_newsletter_label} :</strong></p></td>
            <td><p>{ds_newsletter}</p></td>
        </tr>
        
        <tr>
            <td style="width:85px;"><p><strong>{ds_text_label} :</strong></p></td>
            <td><p>{ds_text}</p></td>
        </tr>
        
        <tr>
            <td style="width:85px;"><p><strong>{ds_text2_label} :</strong></p></td>
            <td><p>{ds_text2}</p></td>
        </tr>
        
        <tr>
            <td style="width:85px;"><p><strong>{ds_text3_label} :</strong></p></td>
            <td><p>{ds_text3}</p></td>
        </tr>
        
        <tr>
            <td style="width:85px;"><p><strong>{ds_mail_label} :</strong></p></td>
            <td><p>{ds_mail}</p></td>
        </tr>
        
        <tr>
            <td style="width:85px;"><p><strong>{cd_status_label} :</strong></p></td>
            <td><p>{cd_status}</p></td>
        </tr>
        
        <tr>
            <td style="width:85px;"><p><strong>{bl_twitter_label} :</strong></p></td>
            <td><p>{bl_twitter}</p></td>
        </tr>
        
        <tr>
            <td style="width:85px;"><p><strong>{bl_facebook_label} :</strong></p></td>
            <td><p>{bl_facebook}</p></td>
        </tr>
        
        <tr>
            <td style="width:85px;"><p><strong>{bl_linkedin_label} :</strong></p></td>
            <td><p>{bl_linkedin}</p></td>
        </tr>
        
    </table>
</div>
<!-- END:main -->
