<!-- BEGIN: main -->
<div style='padding-left: 30px; padding-right: 30px; padding-top: 30px ; padding-bottom: 30px; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #666666; background-color:#FFFFFF'>
{welcome}
<hr style= 'color: #999999; text-decoration: none;'><br><br>
{not_subscribed}

<div style='padding-left: 30px; padding-right: 30px; padding-top: 30px ; padding-bottom: 30px; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #666666; background-color:#FFFFFF'>
<hr style= 'color: #999999; text-decoration: none;'>
<a href='{web_path}doAction?action=edit_unsubscribe_init&cd_contact=$3'>{unsubscribe}</a>
</div>


<!-- END: main -->