<!-- BEGIN: main -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso8859-1" />
    <title>{title}</title>
    <!-- BEGIN: css -->
	<link type="text/css" rel="stylesheet" href="{css}">
	<!-- END: css -->
	
	
	

</head>

<body>


<div id="structure">
	
	
	<div id="content">
		<div style="position:relative;">
		<span class="label" style="position:absolute; font-weight: bold; left: 30px; top: 100px">{message}</span>
		</div>
	</div>	

</div>


</body>
</html>
<!-- END: main -->
