<!-- BEGIN:main -->


<script language="javascript" src="{WEB_PATH}js/autocomplete/simpleAutoComplete.js"></script>
<link rel="stylesheet" href="{WEB_PATH}css/autocomplete/simpleAutoComplete.css" type="text/css" />


<script type="text/javascript">
function contact_change(attr){
	
}
</script>

<script type="text/javascript">
function category_change(attr){
	
}
</script>

<div id="editar">
	<div align="justify"><p class="titulo">{title}</p></div>

	<!-- BEGIN:msg -->
	<div class="ui-state-error ui-corner-all" style="margin-top: 20px; padding: 0 .7em;"> 
		<p><span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
			{msg}
		</p>
	</div>
	<br />
	<!-- END:msg -->

	<form name='editcontactCategory' id='editcontactCategory' action='doAction?action={submit}' method='post' onsubmit="return validate('editcontactCategory');">
		
		<table>
			<tr>
				<td align="right">{cd_contact_category_label}:</td>
				<td align="left">
					{cd_contact_category}
					<input type="hidden" readonly name="cd_contact_category" id="cd_contact_category" value="{cd_contact_category}"/>
				</td>
			</tr>
			
			
			
			
						
			<tr>
				<td align="right">{cd_contact_label} {cd_contact_required}</td>
				<td align="left">
					{contact_find}
				</td>
			</tr>
						
			<tr>
				<td align="right">{cd_category_label} {cd_category_required}</td>
				<td align="left">
					{category_find}
				</td>
			</tr>
			
		</table>
		
		<p style="text-align:center">
			<input type='submit' name='{lbl_save}' value='{lbl_save}'/>
			<input type='reset' name='{lbl_cancel}' value='{lbl_cancel}' onclick="javascript:window.location.href= 'doAction?action=list_contactcategories';"/>
		</p>
		
		
	</form>		
	<div class="camposRequeridos">(*) {msg_required_fields}</div>
</div>
<!-- END:main -->
