<!-- BEGIN:main -->
<div class="divver">
    <div align="justify"><p class="titulo">{title}</p></div>
    <table class="tablaVer">
        
        <tr>
            <td style="width:85px;"><p><strong>{cd_contact_label}:</strong></p></td>
            <td><p>{cd_contact}</p></td>
        </tr>
        
        <tr>
            <td style="width:85px;"><p><strong>{ds_name_label}:</strong></p></td>
            <td><p>{ds_name}</p></td>
        </tr>
        
        <tr>
            <td style="width:85px;"><p><strong>{ds_mail_label}:</strong></p></td>
            <td><p>{ds_mail}</p></td>
        </tr>
        
        <tr>
            <td style="width:85px;"><p><strong>{ds_phone_label}:</strong></p></td>
            <td><p>{ds_phone}</p></td>
        </tr>
        
        <tr>
            <td style="width:85px;"><p><strong>{ds_movil_label}:</strong></p></td>
            <td><p>{ds_movil}</p></td>
        </tr>
        
        <tr>
            <td style="width:85px;"><p><strong>{ds_address_label}:</strong></p></td>
            <td><p>{ds_address}</p></td>
        </tr>
        
        <tr>
            <td style="width:85px;"><p><strong>{dt_birthday_label}:</strong></p></td>
            <td><p>{dt_birthday}</p></td>
        </tr>
         <tr>
            <td style="width:85px;"><p><strong>{ds_company_label}:</strong></p></td>
            <td><p>{ds_company}</p></td>
        </tr>
        
       
        
        <tr>
            <td style="width:85px;"><p><strong>{nu_hard_label}:</strong></p></td>
            <td><p>{nu_hard}</p></td>
        </tr>
        
        <tr>
            <td style="width:85px;"><p><strong>{nu_soft_label}:</strong></p></td>
            <td><p>{nu_soft}</p></td>
        </tr>
        
       
         <tr>
            <td style="width:85px;"><p><strong>{bl_signed_label}:</strong></p></td>
            <td><p>{bl_signed}</p></td>
        </tr>
        
        <tr>
            <td style="width:85px;"><p><strong>{bl_blocked_label}:</strong></p></td>
            <td><p>{bl_blocked}</p></td>
        </tr>
        
    </table>
</div>
<!-- END:main -->
