<!-- BEGIN:main -->
<div class="divver">
    <div align="justify"><p class="titulo">{title}</p></div>
    <table class="tablaVer">
        
        <tr>
            <td style="width:85px;"><p><strong>{cd_image_label}:</strong></p></td>
            <td><p>{cd_image}</p></td>
        </tr>
        
        <tr>
            <td style="width:85px;"><p><strong>{cd_image_category_label}:</strong></p></td>
            <td><p>{cd_image_category}</p></td>
        </tr>
        
        <tr>
            <td style="width:85px;"><p><strong>{cd_template_label}:</strong></p></td>
            <td><p>{cd_template}</p></td>
        </tr>
        
        <tr>
            <td style="width:85px;"><p><strong>{ds_image_label}:</strong></p></td>
            <td><p>{ds_image}</p></td>
        </tr>
        
        <tr>
            <td style="width:85px;"><p><strong>{nu_size_label}:</strong></p></td>
            <td><p>{nu_size}</p></td>
        </tr>
        
        <tr>
            <td style="width:85px;"><p><strong>{ds_type_label}:</strong></p></td>
            <td><p>{ds_type}</p></td>
        </tr>
        
        <tr>
            <td style="width:85px;"><p><strong>{dt_date_label}:</strong></p></td>
            <td><p>{dt_date}</p></td>
        </tr>
        
    </table>
</div>
<!-- END:main -->
