/* {cdtactionfunctions} */
ul.panel li.cdtactionfunctions a {
	background-image: url(images/symbols/cdtactionfunctions_48.png);
}
ul.panellateral li.cdtactionfunctions a {
	background-image: url(images/symbols/cdtactionfunctions_32.png);
}

/* {cdtfunctions} */
ul.panel li.cdtfunctions a {
	background-image: url(images/symbols/cdtfunctions_48.png);
}
ul.panellateral li.cdtfunctions a {
	background-image: url(images/symbols/cdtfunctions_32.png);
}

/* {cdtmenugroups} */
ul.panel li.cdtmenugroups a {
	background-image: url(images/symbols/cdtmenugroups_48.png);
}
ul.panellateral li.cdtmenugroups a {
	background-image: url(images/symbols/cdtmenugroups_32.png);
}

/* {cdtmenuoptions} */
ul.panel li.cdtmenuoptions a {
	background-image: url(images/symbols/cdtmenuoptions_48.png);
}
ul.panellateral li.cdtmenuoptions a {
	background-image: url(images/symbols/cdtmenuoptions_32.png);
}

/* {cdtregistrations} */
ul.panel li.cdtregistrations a {
	background-image: url(images/symbols/cdtregistrations_48.png);
}
ul.panellateral li.cdtregistrations a {
	background-image: url(images/symbols/cdtregistrations_32.png);
}

/* {cdtusers} */
ul.panel li.cdtusers a {
	background-image: url(images/symbols/cdtusers_48.png);
}
ul.panellateral li.cdtusers a {
	background-image: url(images/symbols/cdtusers_32.png);
}

/* {cdtusergroups} */
ul.panel li.cdtusergroups a {
	background-image: url(images/symbols/cdtusergroups_48.png);
}
ul.panellateral li.cdtusergroups a {
	background-image: url(images/symbols/cdtusergroups_32.png);
}

/* {cdtusergroupfunctions} */
ul.panel li.cdtusergroupfunctions a {
	background-image: url(images/symbols/cdtusergroupfunctions_48.png);
}
ul.panellateral li.cdtusergroupfunctions a {
	background-image: url(images/symbols/cdtusergroupfunctions_32.png);
}


