<!-- BEGIN: main -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta property="og:title" content="{appnameFB}" />
<meta property="og:type" content="product" />
<meta property="og:url" content="{urlFB}" />
<meta property="og:image" content="{imgFB}" />
<link href="{cssModal}" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{jquery}"></script>
<script type="text/javascript" src="{jsModal}"></script>
<title>{ds_newsletter}</title>

<script>

{scriptFBIni}

{scriptFBAct}


</script>
</head>

<body background="{body_background}" style="margin-left: 0px;margin-top: 0px;	margin-right: 0px;	margin-bottom: 0px; background-color:{backColor}"  >
<div style="display:none;" id="news_like"></div>
<table border="0" cellspacing="0" cellpadding="0" align="center" class="table" background="{table_background}" width="734px">
  <tr>
   
    <td style="vertical-align:middle;" height="30px"><div align="center"><a target="_blank" style="font-size:12px; font-family:Helvetica Neue,Arial,Helvetica,Geneva,sans-serif;font-weight:bold;color:#848484;text-decoration:none" href="{view_online_link}">{view_online_label}</a>&nbsp;|&nbsp;{linkfacebook}
        {linktwitter}{linklinkedin}</div></td>
   
   
  </tr>
    <tr>
   
    <td valign="top">{img_header}</td>
   
  </tr>
    <tr>
        <td style="vertical-align:top;	FONT-FAMILY: Georgia,Helvetica,Arial,Sans-Serif;	FONT-SIZE: 13px;FONT-STYLE: normal; 
	color: #494949; padding: 25px;">{ds_text}</td>
  </tr>
  <!-- BEGIN: item -->
  <tr>
   
    <td valign="top">
  <table cellspacing="0" cellpadding="20" border="0">
                                            <tbody>
                                            <tr>
  <td valign="top" style="padding:5px 20px;text-align:left;line-height:18px;font-size:14px;width:50%">
                                                  <div style="text-align:center">{ds_image}</div>
                                                </td>
                                                <td valign="top" style="padding:5px 20px;text-align:left;line-height:18px;FONT-FAMILY: Georgia,Helvetica,Arial,Sans-Serif;	FONT-SIZE: 13px;FONT-STYLE: normal; 
	color: #494949; padding: 25px;"width:50%">
                                                  <div>
                                                    {ds_item}
                                                  </div>
                                                </td>
                                              </tr>
                                              </tbody>
                                              </table>
                                              <hr style="border-width:2px 0px 0px;border-top-style:solid;border-bottom-style:solid;border-top-color:#494949;border-bottom-color:#dddddd;margin:10px 0px">
                                              </td>
   
  </tr>
  
  <!-- END: item -->
  <tr>
    <td style="width:15.07cm;height:1cm;vertical-align:bottom" valign="bottom">{img_botton}
                           
        </td>
  </tr>
</table>
</body>
</html>
<!-- END: main -->